img{
    width: 600px;
    margin-left: 350px;
}
section h2{
    text-align: center;
    color: red;

}
#contain1{
 text-align: center;
 padding-top: 20px;
}
 #contain1 h2{
color: red;
 
}
#contain2{
    text-align: center;
    padding-top: 20px;
}